* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: #000;
}

header {
    background: #000;
    height:100vh;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5% 5% 0 5%;
}

nav h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
/* border: 3px solid red; */
}

nav h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
    border-bottom: 3px solid transparent; 
    display: inline-block; 
    padding: 0 15px; 
    
    /* Apply the animation initially */
    animation: borderAnimation .5s alternate infinite;
}










nav h2 span {
    color: aqua;
}

nav ul li {
    color: white;
    display: inline-block;
   

    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture img {
    height: 50vh;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    line-height: 5vh;
}

.about h3 {
    letter-spacing: 2px;
    /* color: rgb(0, 213, 255); */
  

}

.about h1 {
    color: white;
    font-size: 6vh;

}

.about h3 {
    font-size: 3vh;
    text-decoration: underline;

}


/* skills */
.title{
margin-left: 20px;    color: white;
border-bottom: 5px solid aqua;
font-size: 20px;
display: inline-block;
animation: headingAnimation .5s alternate infinite;


}

#skills{
    width: 100%;
    max-width:600px;
    margin-left: 5%;

    padding:   25px 0;

}

.skill-section{
    display: flex;
}
.skill-section img{
   margin-left: 3%;
}

.language{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 25px 0;
}
#JAVASCRIPT{
    padding-bottom: 20px;
}
.skill-bar{
    height: 20px;
background: rgb(74, 74, 74);
border-radius: 5px;
}

.percentage {
    border-radius: 5px;
height: 20px;
background: aqua;
position: relative;
}
.percentage::before {
content: attr(per);
position: absolute;
background: white;
border-radius: 3px;
top: -35px;
right:0;
font-weight: bolder;
padding: 5px 6px;
font-size: 12px;
}

/* ABOUT US */
.aboutus{
    color: wheat;
 display: flex;
 padding: 1rem;
}
.aboutus img{
    height: 40vh;
   
}
.aboutus h2{
    text-align: center;
    margin-top:7% ;
    color: aqua;
}
.about-me{
    padding: 1rem;
}
.about-me p{
    color: white;
margin-top:8%;
font-size: 1.5rem;
font-weight: bolder;


}
@media(max-width:500px){
    .aboutus{

    display: block;
    }
    .aboutus img{
        width: 100vw;
        height: 40vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

/* PROJECTS */

.project-container{
    width: 100vw;


}
.projects{
margin: 20px;
border-radius: 5px ;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
border: 2px solid white;
overflow: hidden;

}


.pro-image img{
    height: 30vh;
    width: 90vw;
    overflow: hidden;

}
.pro-about{
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
justify-content: center;
}
.pro-about h2{
    margin-bottom: 10px;
    text-decoration: underline;
}
.pro-about button{
    width: 100px;
    margin: 20px 0;
    height: 40px;
    color: rgb(254, 254, 254);
    border-radius: 5px;
    border: 1px solid white;
background: rgb(83, 83, 83);

}
.pro-about button a{
text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(83, 83, 83);
    width: 100px;
    height: 40px;
}

.seemore{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seemore button{
        margin: 20px 0;
        height: 40px;
        color: rgb(254, 254, 254);
        border-radius: 5px;
        border: 1px solid white;
    background: rgb(83, 83, 83);
}
.seemore button a{
    text-decoration: none;
        color: rgb(255, 255, 255);
        background: rgb(83, 83, 83);
        width: 100px;
        height: 40px;
        padding: 10px;
    }
@media(min-width:500px){
    .projects{
        width: 25.5vw;
    }
    .project-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pro-image img{
        height: 30vh;
        width: 25vw;
        overflow: hidden;

    }
}

/* contact us
.icon{

    background: white;
    height: 200px;
    width: 200px;
}

.icon svg{
    color: rgb(143, 63, 63);
    background: white;
} */


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    

}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start ;
}
.contact-item p{
word-wrap: break-word;
    color: rgb(255, 255, 255);
}
.icon {
    font-size: 24px;
    margin-right: 10px;
}
.icon i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media(max-width:400px){

    .contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: flex-start ;
        width: 100%;
    }
    .contact-item .info{
        width:95%;
    word-wrap: break-word;
        color: rgb(255, 255, 255);
    }
    .icon {
        font-size: 24px;
    background: rgb(211, 193, 193);
    width:10%;
    }

}
.info {    
color: white;
    font-size: 16px;
}
.social-icons{
    border: 2px solid white;
    margin-bottom: 5vh;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 3vw;
    overflow:hidden;}
.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 5px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #007bff;
}



/* Hamburger menu icon */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  /* Hide navigation links initially */
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  /* Media query for screens below 500px */
  @media (max-width: 800px) {
    .hamburger {
      display: flex;
    }
  
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px; /* Adjust as needed */
      width: auto;
      background-color: #000;
      z-index: 1;
      right: -100%; /* Move the menu off the screen to the left */
      transition: left 0.3s ease-in-out;
    }
    
  
    nav ul.active {
      display: flex;
      right: 0;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  }
  
  @keyframes borderAnimation {
    0% {
        border-color: red;
    }
   
    100% {
        border-color: yellow;
    }
}

@keyframes headingAnimation {
    0% {
        border-color: rgb(246, 246, 246);
    }
   
    100% {
        border-color: aqua;
    }
}